<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.olivercastelblanco.trackar"
        versionCode="1" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>TracKar</name>

    <description>
        Aplicación móvil para el seguimiento de vehículos dentro de una organización en tiempo real.
    </description>

    <author href="https://github.com/ocastelblanco/" email="ocastelblanco@gmail.com">
        Oliver Castelblanco Martínez
    </author>

    <gap:plugin name="BarcodeScanner" />
    
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>